{%- if cookiecutter.enable_vagrant == 'true' %}.vagrant
{% endif -%}
.DS_Store

*~
*.log
*.sublime-workspace

.cache
.mypy_cache
.pytest_cache
.eggs
.venv
__pycache__
build
dist
doc/autodoc
doc/_build

*.py[cod]
*.egg-info
*.dist-info
